:root{
    --brand-color-black: #212121;
    --brand-color-blue: #2196F3;
    --brand-color-gray: #757575;
    --brand-color-white: #ffffff;
    --background-color: #2F303A;
}

body { 
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-black)
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color-black);
}

.dot-hide > li {
    list-style-type: none; 
}

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color-black);
}

.navigation:hover,
.navigation:focus {
color: var(--brand-color-blue);
}

.main-statement{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.large-button-text {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--brand-color-white);
}
.large-button {
    background-color: var(--brand-color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px; 
    width: 200px;
    height: 50px;
}

.small-button-text button{
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.small-button-text button:hover,
.small-button-text button:focus {
    color: var(--brand-color-white);
}
.small-button button{
    background-color: var(--brand-color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0px;
    }

.small-button button:hover,
.small-button button:focus{
    background-color: var(--brand-color-blue);
}

.articles-header h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.articles-paragraph p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-gray);
}
.product-header h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.product-parafraph p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--brand-color-gray);
}

.header2wwd {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.header2oc {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-name h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.job-position p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-gray);
}

.footer-nav{
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--brand-color-white);
    text-decoration: none;
}

.font-style-none {
    font-style: normal;
}

.footer-nav:hover,
.footer-nav:focus {
    color: var(--brand-color-blue);
}

.footer-adress:hover,
.footer-adress:focus {
    color: var(--brand-color-blue);
}

.backgroundblk{
background-color: var(--background-color);
}

.blue{
    color: var(--brand-color-blue);
}
.gray{
    color: var(--brand-color-gray);
}
.white{
    color: var(--brand-color-white);
}